# Strings

In [1]:
name = 'Rakesh'

In [6]:
name[0:5:2]

'Rks'

In [3]:
address = "odisha"

In [10]:
name + " " + address

'Rakesh odisha'

In [15]:
lst = [1,2,3,4,5,"rakesh","abc"]

In [13]:
lst

[1, 2, 3, 4, 5, 'rakesh', 'abc']

In [8]:
type(lst)

list

In [9]:
type(name)

str

In [16]:
lst(5)

TypeError: 'list' object is not callable

In [17]:
lst

[1, 2, 3, 4, 5, 'rakesh', 'abc']

In [18]:
lst[5]

'rakesh'

In [19]:
lst[-1]

'abc'

In [3]:
lst = [1,2,3,"rakesh",[1,2,3,"rakesh"],5.6,7.8]

In [4]:
lst[4]

[1, 2, 3, 'rakesh']

In [5]:
lst[4][3]

'rakesh'

In [6]:
lst.append("i")

In [7]:
lst

[1, 2, 3, 'rakesh', [1, 2, 3, 'rakesh'], 5.6, 7.8, 'i']

In [8]:
lst.insert(4,"first")

In [9]:
lst

[1, 2, 3, 'rakesh', 'first', [1, 2, 3, 'rakesh'], 5.6, 7.8, 'i']

# tuples

In [27]:
tup = ("we","love","letsupgrade")

In [28]:
tup

('we', 'love', 'letsupgrade')

In [29]:
tup.count("letsupgrade")

1

In [30]:
tup.index("letsupgrade")

2

# dictionaries

In [31]:
dit = {"name":1, "age":40, "email":"www.adknd.com"}

In [32]:
dit

{'name': 1, 'age': 40, 'email': 'www.adknd.com'}

In [33]:
dit[name]

KeyError: 'Rakesh'

In [34]:
dit["name"]

1

In [35]:
dit.get("name")

1

In [36]:
dit1 = {"subdict":{"key1":"hii", "key2":"neneklf"}}

In [37]:
dit1["subdict"]["key1"]

'hii'

In [38]:
dit1.get("subdict").get("key1")

'hii'

# ifelse and elif

# Conditional Operator

In [45]:
a = 4
b = 12

In [46]:
a

4

In [47]:
b

12

In [50]:
if a == b:
    print("a IS EQUALS TO b")
else:
    print("a NOT EQUALS TO b")

a NOT EQUALS TO b

In [51]:
marks = 70

In [52]:
marks

70

In [54]:
if marks >= 90:
    print("Grade is A")
elif marks >= 70:
    print("Grade is B")
else:
    print("failed")

Grade is B

In [64]:
lst = ["Rakesh","Kajal","Debasmita","Prashant",1,2,3]

In [65]:
lst

['Rakesh', 'Kajal', 'Debasmita', 'Prashant', 1, 2, 3]

In [74]:
for name in lst:
    print(name)

Rakesh
Kajal
Debasmita
Prashant
1
2
3

In [62]:
for item in range(1,10):
    print (item)
else:
    print("THE LOOP IS COMPLETED")

1
2
3
4
5
6
7
8
9
THE LOOP IS COMPLETED

In [70]:
if name in lst == Rakesh:
    print("Hello,", name,"Good evening")

NameError: name 'Rakesh' is not defined

In [73]:
a = 1
b = 100
for item in range(a,b):
    print(item)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# While loop

In [ ]:
x = input("Enter something --> ")